body {
    background-color:papayawhip
}
hr {
    border-style: dotted;
    border-top-style: none;
    border-color: #FBC6A4;
    border-width: 8px;
    width: 95%;
}
h1{
    color:#E79E4F
}
h2{
    color:#eba945e8
}
h3{
    color:#eba945e8
}
.button{
     
}